body {
  margin: 0;
} 

.slider-wrapper {
  width: 70vw; /*здесь! можно управлять размером блока, пропорции сейчас всегда квадратные*/
}

@media (max-width: 800px) {
  .slider-wrapper {
    width: 100vw; 
  }
}

.slider {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

/*progress bar*/
#mySpriteSpin .spritespin-progress {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 45%;
}
#mySpriteSpin .spritespin-progress-label {
  color: grey;
}
#mySpriteSpin .spritespin-progress-bar {
  background-color: grey;
  height: 1px;
}
.spritespin-progress:after {
  content: "Для вращениия панорамы используйте мышь";
  text-align: center;
  color: grey;
  font-family: system-ui;
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
}

/*слой с svg тултипами*/
#svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#svg-layer > svg {
  width: 100%;
  height: 100%;
}

#svg-layer svg > g:hover rect {
  fill: rgb(2 165 232 / 20%);
}

#svg-layer svg > g:hover + line {
  /* stroke: rgb(2 165 232 / 20%); */
}

/*стили для popup-а*/
#popup {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  outline: 1px solid grey;
}

#popup .popup__closeBtn {
  width: 40px;
  height: 40px;
  background-image: url(/img/icon_close.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: auto;
}

.popup__content {
  position: absolute;
  top: 0;
  padding: 2%;
}

.popup__header {
  font-family: system-ui;
}

.popup__text {
  font-family: system-ui;
}

.popup__img > img {
  max-width: 100%;
  max-height: 100%;
}

/*dev mode стили*/
#coordinate-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  perspective: 1000px;
  perspective-origin: center 50%;
}

.cg-yAxis {
  border: 1px solid red;
  width: 0px;
  height: 50%;
  position: absolute;
  left: 50%;
  bottom: 50%;
}

.cg-xAxis {
  border: 1px solid red;
  width: 50%;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.cg-circleOne {
  border: 1px solid red;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 73%;
  transform: translateX(-50%) translateY(-50%) rotateX(90deg);
  background-color: darkolivegreen;
  opacity: 0.4;
}

.cg-circleOne_x {
  border: 2px solid red;
  width: 100%;
  height: 0;
  top: 50%;
  position: absolute;
}

.cg-circleOne_y {
  border: 2px solid red;
  height: 100%;
  width: 0;
  left: 50%;
  position: absolute;
}

.debug, .debug > input[type="range"] {
  width: 100%;
  max-width: calc(1024px - 2rem);
  padding: 0 1rem;
}

